@import 'reset.css';

:root {
    --body-bg: #F5F5FB;
    --side-bg: #FFFFFF;
    --box-bg: #C4C4C4;
  }

nav {
    height: 100vh;
    width: 15%;
    background-color: var(--side-bg);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
 height: 100%;
 width: 65%;
 display: flex;
 flex-direction: column;
}

aside{
    height: 100vh;
    width: 20%;
    background-color: var(--side-bg);
}

body {
    background-color: var(--body-bg);
    display: flex;
    flex-direction: row;
}

.top-nav {
    height: 5%;
    display: flex;
    justify-content: space-between;
}

span {
    background-color: var(--box-bg);
}

.middle-nav {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-main {
    height: 10%;
    display: flex;
}